<div class="container">
  <div>
    <h1>Jerseys</h1>
    <%= link_to 'Add New Jersey', new_jersey_path, class: 'btn btn-sm btn-success' %>
  </div>

  <ul>
    <% @jerseys.each do |jersey| %>
      <li><%= link_to jersey.name %><%= link_to jersey.size %><%= link_to jersey.price %>
      <%= link_to "Delete Your Jersey", jersey, method: :delete, remote: true %>
      <%= link_to "Edit Your Jersey", edit_jersey_path(jersey)%> 
      <%= link_to "Show Details", jersey_path(jersey) %> </li>
    <% end %>
  </ul>
</div>
