<div class="container">
 <div class="row mt-3">
   <div class="banner col-lg-6" style="background-image: url('<%= cl_image_path @jersey.photo.key%>');">
  </div>
  <div class="content col-lg-6">
    <h1><%= @jersey.name %></h1>
    <h2>Price: <strong><%= @jersey.price %></strong> AUD | Size: <strong><%= @jersey.size %></strong></h2>
    <h5><%= @jersey.description %></h5>
    <%= link_to "Buy It", new_jersey_booking_path(@jersey), class: "btn btn-lg btn-info" %>
    <%= link_to "Delete Your Jersey", @jersey, method: :delete, remote: true,  class: "btn btn-sm btn-danger" %>
    <%= link_to "Edit Your Jersey", edit_jersey_path(@jersey), class: "btn btn-sm btn-success" %>
    <%= link_to "Back to Store", jerseys_path, class: "btn btn-warning btn-sm" %>
  </div>
 </div>
</div>

<div class="container">
  <div class="mt-5" id="reviews">  
    <h2><%= pluralize @jersey.reviews.size, "review" %></h2>
    <% if @jersey.reviews.blank? %>
      Be the first to leave a review for <%= @jersey.name %>
    <% else %>
      <% @jersey.reviews.each do |review| %>
        <p id="review-<%= review.id %>"><%= review.content %> </p>
        Rating: <%= review.rating.times do%>
        <i class="fas fa-star"></i>
        <%end%>
      <% end %>
    <% end %>
  </div>
</div>
     
<div class="container">
  <%= simple_form_for([ @jersey, @review ], remote: true) do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, :collection => 1..5 %>
    <%= f.button :submit %>
  <% end %>
</div>
