<h1><%= @jersey.name %> <small><%= @jersey.description %></small></h1>
  <div id="reviews">  
    <h2><%= pluralize @jersey.reviews.size, "review" %></h2>
    <% if @jersey.reviews.blank? %>
      Be the first to leave a review for <%= @jersey.name %>
    <% else %>
      <% @jersey.reviews.each do |review| %>
        <p id="review-<%= review.id %>"><%= review.content %></p>
    <% end %>
  <% end %>
</div>
<div class="container">
  <%= simple_form_for([ @jersey, @review ], remote: true) do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.button :submit %>
  <% end %>
</div>
