<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @jersey.photo.key%>');">
  <div class="container">
    <h1><%= @jersey.name %> <strong><%= @jersey.size %></strong> <strong><%= @jersey.price %></strong>!</h1>
    <p><%= @jersey.description %></p>
    <%= link_to "Buy It", new_jersey_booking_path(@jersey), class: "btn btn-lg btn-info" %>
    <%= link_to "Delete Your Jersey", @jersey, method: :delete, remote: true,  class: "btn btn-sm btn-danger" %>
    <%= link_to "Edit Your Jersey", edit_jersey_path(@jersey), class: "btn btn-sm btn-success" %>
    <%= link_to "Back to Store", jerseys_path, class: "btn btn-outline-warning btn-sm" %>
  </div>
</div>

<div class="container">
  <div id="reviews">  
    <h2><%= pluralize @jersey.reviews.size, "review" %></h2>
    <% if @jersey.reviews.blank? %>
      Be the first to leave a review for <%= @jersey.name %>
    <% else %>
      <% @jersey.reviews.each do |review| %>
        <p id="review-<%= review.id %>"><%= review.content %> <%= review.rating %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= simple_form_for([ @jersey, @review ], remote: true) do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, :collection => 1..5 %>
    <%= f.button :submit %>
  <% end %>
</div>
