<div class="container">
  <div class="row">
  <h1><%= @jersey.name %> <small><%= @jersey.description %></small></h1>
  <h2><%= pluralize @jersey.reviews.size, "review" %></h2>

  <div id="jerseys">  
    <% if @jersey.reviews.blank? %>
      Be the first to leave a review for <%= @jersey.name %>
    <% else %>
      <% @jersey.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
